body {
	font-family: EBGaramond-Regular;
}
a {
	text-decoration: none;
	&:hover {
		text-decoration: none;
	}
}
.title_page {
	font-family: Arial;
	text-align: center;
	font-size: 20px;
	font-weight: 600;
}
.description {
	font-family: EBGaramond-Regular;
	text-align: center;
	font-size: 40px;
	font-weight: 100;
	padding: 0 200px;
    margin-top: 100px;
	a {
		color: #ffce5e;
	}
}
.element_content {
	display: flex;
	flex-flow: row wrap;
	justify-content: flex-start;
	.item {
		width: 48%;
		overflow: hidden;
		margin: 40px 0;
		img {
			max-width: 100%;
			height: auto;
			object-fit: contain;
		}
		&:nth-child(2n + 2) {
			margin-left: auto;
		}
		.text {
			text-align: left;
			p {
				font-size: 40px;
				font-family: EBGaramond-Regular;
			}
		}
	}
}

.section_follow_us {
	background: #f1f1f1;
	padding: 115px 0 100px 0;
}
.gallery_product{
	text-align: center;
	position: relative;
	padding: 0 80px;
	margin-top: 100px;
	.list-inline{
		display: flex;
	    flex-flow: row wrap;
	    justify-content: center;
		.blogBox{
			position: relative;
			width: 200px;
			height: 200px;
			overflow: hidden;
			padding: 0;
			border-radius: 0;
			margin-bottom: 5px;
			margin-right: 15px;
			&:hover {
				.content {
					opacity: 1;
				}
			}
			.content {
				position: absolute;
				top: 0;
				left: 0;
				width: 100%;
				height: 100%;
				background: #3e3e3e8a;
				transition: 0.5s;
				opacity: 0;
				p {
					text-align: center;
					color: #fff;
					display: -webkit-box;
					-webkit-line-clamp: 4;
					-webkit-box-orient: vertical;
					overflow: hidden;
					position: absolute;
					top: 50%;
					left: 50%;
					transform: translate(-50%, -50%);
					width: 80%;
				}
			}
			&:before{
				position: absolute;
				top: 50%;
				left: 50%;
				transform: translate(-50%, -50%);
				padding: 10px 10px 3px 10px;
				background:#ffffffc7;
				border-radius: 50%;
			}
			a{
				img{
					border-radius: 0;
					width: 100%;
					height: 100%;
					object-fit: cover;
					border: none;
					padding: 0;
				}
			}
		}
	}

	/*.modal-content{
		background:#fff;
		margin-top: 25%;
	}
	.close{
		opacity: 1;
		background: #fff;
		border-radius: 5px;
	}
	.modal-header{
		border-bottom: none;
	}
	.modal-body{
		padding: 5px;
		height: 400px;
		overflow: hidden;
	}*/
}
#myGallery{
	.item{
		height: 100%;
		.img{
			width: 50%;
			height: 630px;
			overflow: hidden;
			float:left;
			img {
				width: 100%;
				height: 100%;
				object-fit: cover;
			}
		}
		.text_pro {
			width: 50%;
			float: right;
			padding-left: 50px;
			text-align: left;
			p {
				font-family: EBGaramond-Regular;
				font-size: 18px;
			}
			.title_pro {
				border-bottom: 1px solid #000;
				padding-bottom: 15px;
				font-family: EBGaramond-Regular;
				font-weight: bold;
				font-size: 18px;
				position: relative;
				&:before {
					position: absolute;
					content: url(./../img/instagram.png);
					top: 5px;
					right: 15px;
				}
			}
		}
	}
}

.gallery_product {
	.modal {
		width: 100%;
		height: 100%;
		padding-right: 0 !important;
	}
	.modal-dialog {
		width: 100%;
		height: 100vh;
		margin: 0;
	}
	.modal-content {
		width: 100%;
		height: 100%;
		border-radius: 0;
		border: none;
	}
	.modal-body {
		height: 100%;
	}
	#myGallery {
		height: 100%;
		.carousel-inner {
			height: 100%;
		}
		.carousel-control {
			background: none;
		}
	}
	.modal-header {
		border-bottom: none;
	}
}

.section_footer {
	padding: 50px 0 0 0;
	.row {
		display: flex;
		flex-flow: row wrap;
		justify-content: space-between;
	}
	.footer {
		width: 25%;
		p {
			display: block;
		    line-height: 1.5em;
		    font-size: 17px;
		    font-family: EBGaramond-Regular;
			span {
				display: block;
			    line-height: 1.5em;
			    font-size: 17px;
			    font-family: EBGaramond-Regular;
			}
		}
		.back-to-top {
			font-family: Arial;
		    text-align: center;
		    font-size: 20px;
		    font-weight: 600;
		    transition: 0.5s;
			&:hover {
				cursor: pointer;
				color: #ffcb53;
			}
		}
		form {
			display: flex;
			flex-flow: row wrap;
			justify-content: space-between;
			align-items: center;
			input {
				width: 80%;
			    height: 40px;
			    padding-left: 15px;
			    &::placeholder {
				    text-align: left;
				    font-size: 16px;
				    font-weight: 400;
				    font-family: EBGaramond-Regular;
			    }
			    &:focus {
			    	border: 1px solid #ff4040;
			    	&::placeholder {
			    		opacity: 0;
			    	}
			    }
			}
			button {
				width: 20%;
				background: transparent;
				border: none;
				font-family: Arial;
			    text-align: center;
			    font-size: 14px;
			    font-weight: 600;
			    transition: 0.5s;
			    &:hover {
			    	color: #ffcb53;
			    }
			}
		}
	}
	.footer.copyrighter {
		width: 100%;
		text-align: center;
		padding: 50px 0 0 0;
	}
}

.element_fixed_left {
	position: fixed;
	top: 0;
	left: 0;
	width: 100px;
	height: 100vh;
	display: grid;
	align-items: center;
	text-align: center;
	z-index: 100;
	.icon_menu {
		margin: auto;
		span {
			display: block;
			width: 30px;
			height: 2px;
			background: #000;
			margin: 5px 0;
		}
		&:hover {
			cursor: pointer;
		}
	}
	>a {
		font-family: EBGaramond-Regular;
	    text-align: left;
	    font-size: 18px;
	    font-weight: 400;
	    transform: rotateZ(90deg);
	    color: #000;
	    transition: 0.5s;
	    &:hover {
	    	color: #ffce5e;
	    }
	}
}

.element_fixed_right {
	position: fixed;
	top: 0;
	right: 0;
	width: 100px;
	height: 100vh;
	display: grid;
	align-items: center;
	text-align: center;
	z-index: 99;
	.icon_menu {
		margin: auto;
		span {
			display: block;
			width: 30px;
			height: 2px;
			background: #000;
			margin: 5px 0;
		}
		&:hover {
			cursor: pointer;
		}
	}
	>a {
		font-family: Arial;
	    text-align: left;
	    font-size: 15px;
	    font-weight: 400;
	    transform: rotateZ(90deg);
	    color: #000;
	    transition: 0.5s;
	    &:hover {
	    	color: #ffce5e;
	    }
	}
	p {
		font-family: EBGaramond-Regular;
	    text-align: left;
	    font-size: 18px;
	    font-weight: 400;
	    color: #000;
	    transition: 0.5s;
	    &:hover {
	    	color: #ffce5e;
	    }
	}
	.icon_link {
		a {
			width: 100%;
			img {
				width: 14px;
			}
		}
	}
}

.backtotop {
	position: relative;
	z-index: 1;
	&:before {
		position: absolute;
		content: '';
		width: 14px;
		height: 14px;
		background: #ffce5e;
		transition: 0.5s;
		opacity: 0;
		top: 24px;
		right: 38px;
		border-radius: 100%;
		z-index: -1;
	}
	&:hover {
		&:before {
			opacity: 1;
		}
	}
}
.backtotop_mobi {
    position: fixed;
    bottom: 90px;
    right: 0px;
	a {
		background: #80808096;
		padding: 15px;
	}
}
.btn_chat_mobi {
    position: fixed;
    bottom: 5px;
    right: 0px;
}
.section_menu {
	width: 100%;
	background: #ffcb53;
	padding: 66px 100px;
	position: fixed;
	top: -100%;
	left: 0;
	width: 100%;
	z-index: 1000;
	transition: 0.5s;
	ul.main_menu {
		width: 100%;
		padding: 0 100px;
		display: flex;
		flex-flow: row wrap;
		justify-content: center;
		align-items: center;
		list-style: none;
		li {
			margin: 0 15px;
			a {
				padding: 10px 15px;
				color: #000;
				font-size: 18px;
				font-family: Arial;
				font-weight: bold;
				&:hover {
					color: #fff;
				}
			}
			a.active {
				color: #fff;
			}
		}
	}
	.close_menu {
		margin: auto;
		width: 50px;
		height: 50px;
		position: absolute;
		top: 50%;
		left: 26px;
		transform: translate(0, -50%);
		span {
			display: block;
			width: 30px;
			height: 2px;
			background: #000;
			margin: -1px 0;
			&:nth-child(1) {
				transform: rotateZ(45deg);
			}
			&:nth-child(2) {
				transform: rotateZ(-45deg);
			}
		}
		&:hover {
			cursor: pointer;
		}
	}
}
.section_menu.active {
	top: 0;
}

.section_form {
	position: fixed;
	width: 400px;
	height: 100vh;
	top: 0;
	right: -100%;
	background: #ffcb53;
	padding: 66px 40px;
	transition: 0.5s;
	z-index: 1000;
	h2 {
		margin-top: 100px;
	}
	.close_form {
		margin: auto;
		width: 50px;
		height: 50px;
		position: absolute;
		top: 15%;
		right: 26px;
		transform: translate(0, -50%);
		span {
			display: block;
			width: 30px;
			height: 2px;
			background: #000;
			margin: -1px 0;
			&:nth-child(1) {
				transform: rotateZ(45deg);
			}
			&:nth-child(2) {
				transform: rotateZ(-45deg);
			}
		}
		&:hover {
			cursor: pointer;
		}
	}
	form {
		margin-top: 15px;
		span {
			width: 100%;
			display: block;
			margin: 13px 0;
			input {
				width: 100%;
				height: 42px;
				padding-left: 15px;
				padding-right: 15px;
				border: none;
			}
			select {
				width: 100%;
				height: 42px;
				padding-left: 15px;
				padding-right: 15px;
				border: none;
			}
			.btn_submit {
			    border-radius: 2px;
			    font: normal normal normal 18px/1.5em avenir-lt-w01_85-heavy1475544,sans-serif;
			    background-color: rgba(0,0,0,1);
			    color: rgba(255, 255, 255, 1);
			}
		}
	}
}
.section_form.active {
	right: 0;
}

/*.section_our_story {
	padding-bottom: 50px;
	.element_story {
		h3 {
		    text-align: center;
		    font-size: 18px;
		    margin: 50px 0;
		}
	}
}*/

.item_story {
	width: 100%;
	padding: 0 250px;
	.img {
		width: 100%;
		overflow: hidden;
		margin-bottom: 30px;
		img {
			width: 100%;
			height: auto;
		}
	}
	.content {
		h3 {
		    text-align: center;
		    font-size: 40px;
		    span {
		    	font-style: italic;
		    }
		}
		p {
			font-size: 17px;
		    line-height: 1.5em;
		    text-align: center;
		    margin: 25px 0;
		}
	}
}

.section_contact {
	margin: 50px 0;
	.row {
		display: flex;
		flex-flow: row wrap;
		justify-content: flex-start;
		overflow: hidden;
		.item_contact {
			width: 48%;
			.item_date {
				margin-bottom: 90px;
				h2 {
					font-size: 30px;
					font-style: italic;
					margin-bottom: 45px;
				}
				p {
				    font-size: 17px;
				    line-height: 1.5em;
				}
			}
			&:last-child {
				margin-left: auto;
			}
			img {
				width: 100%;
				height: auto;
			}
		}
	}
}

.contact_form {
	width: 100%;
	display: flex;
	flex-flow: row wrap;
	justify-content: space-between;
	span.part_item {
		width: 48%;
		input {
			width: 100%;
			border: none;
			border-bottom: 2px solid #000;
			padding-left: 15px;
			height: 42px;
			&::placeholder {
				font-size: 18px;
			}
		}
	}
	span.full_item {
		width: 100%;
		input {
			width: 100%;
			border: none;
			border-bottom: 2px solid #000;
			height: 42px;
			margin: 15px 0;
			padding-left: 15px;
			&::placeholder {
				font-size: 18px;
			}
			&:focus {
				outline: 0;
			}
		}
		textarea {
			height: 100px;
			margin: 15px 0;
			width: 100%;
			padding-left: 15px;
			padding-top: 15px;
			border: none;
			border-bottom: 2px solid #000;
			&::placeholder {
				font-size: 18px;
			}
			&:focus {
				outline: 0;
			}
		}
	}
	.btn_submitnow {
		width: 100%;
		font-size: 20px;
		color: #000;
		background: transparent;
		border: none !important;
		margin: 0 !important;
	}
}



.section_map {
	width: 100%;
	overflow: hidden;
	height: 580px;
	iframe {
		width: 100%;
		height: 100%;
	}
}
.section_title_page {
	text-align: center;
    margin: 50px 0;
	.title_tr {
	    text-align: center;
	    font-size: 18px;
	    font: normal normal normal 18px/1.5em avenir-lt-w01_85-heavy1475544,sans-serif;
	    font-weight: 600;
	    margin-top: 100px;
	}
	span {
		color: #000;
		font-size: 18px;
		text-align: center;
	}
}

.section_menu_page {

}
.title_basic {
	text-align: center;
    font: italic normal bold 40px/1.5em cormorantgaramond-semibold;
    color: rgb(255,203,83);
    line-height: 1;
    word-break: break-word;
    position: relative;
    padding-bottom: 20px;
    margin-top: 100px;
    &:before {
    	position: absolute;
    	content: '';
    	background: #000;
    	width: 5%;
    	height: 1px;
    	bottom: 0;
    	left: 50%;
    	transform: translate(-50%, 0); 
    }
}

.item_menu {
	width: 50%;
	text-align: center;
	.name_pro {
	    font: normal normal bold 16px/1.5em avenir-lt-w01_85-heavy1475544,sans-serif;
	    color: rgb(0,0,0);
	}
	.name_pro_star {
		position: relative;
		&:before {
			position: absolute;
			content: url(./../img/star.png);
			left: -25px;
		    top: -2px;
		}
	}
	.description {
	    font: italic normal normal 19px/1.5em cormorantgaramond-light;
	    color: rgb(0,0,0);
	    line-height: 1.6;
	    margin-top: 12px;
	    margin-bottom: 25px;
	    padding: 0 120px;
	}
	.price {
		p {
			font: italic normal normal 19px/1.5em cormorantgaramond-light;
		    color: rgb(0,0,0);
		    line-height: 1.6;
		    margin-top: 12px;
		    margin-bottom: 25px;
		}
	}
	.tag {
		span {
		    height: 21px;
		    padding: 5px 12px;
		    font-size: 11.052631578947368px;
		    line-height: 21px;
		    background-color: rgb(0,0,0);
		    color: rgb(255,255,255);
		    letter-spacing: 1.68px;
		    text-transform: uppercase;
		}
	}
}
.element_menu {
	display: flex;
	flex-flow: row wrap;
	justify-content: center;
	&:last-child {
		margin-bottom: 100px;
	}
}

/**/
/*
p {
    margin: 0 0 10px;
    font-family: 'Roboto', sans-serif;
}
p, pre {
    margin: 0 0 1em 0;
}
a, a:link, a:focus, a:active, a:visited {
    outline: 0;
}
a, a:link, a:focus, a:active, a:visited {
    outline: 0;
}
img {
    border: 0;
    -ms-interpolation-mode: bicubic;
}
.interior.container .row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}*/
.blogBox {
    margin-bottom: 30px;
    box-sizing: border-box;
}
.blogBox .item {
    background: #f4f4f4;
    -webkit-transition: all 0.15s ease-in-out;
    transition: all 0.15s ease-in-out;
    height: 100%;
}
.blogBox .item:hover {
    background: #e8e8e8;
    cursor: pointer;
}
.blogBox .item img {
    width: 100%;
}
#loadMore {
    padding-bottom: 30px;
    padding-top: 30px;
    text-align: center;
    width: 100%;
}

@media screen and (min-width: 1200px) {
	.blogBox .featured h2 {
		font-size: 42px;
	}
}
@media screen and (min-width: 991px) {
	.blogBox .featured img {
		max-width: 50%;
		width: 100%;
		float: left;
		min-height: 378px;
	}
}
@media screen and (min-width: 768px) {
	.blogBox .item img {
		height: 152px;
	}
}
.btn_load_more_plus {
	color: transparent;
	background-color: transparent;
}
.form_message {
	position: fixed;
	right: 15px;
	bottom: 25px;
	background: #c1c1c1;
	border-radius: 5px;
	overflow: hidden;
	width: 300px;
	height: 350px;
	z-index: 1111;
	display: none;
	transition: 0.3s;
	.close_mess_form {
		position: absolute;
		top: 15px;
		right: 15px;
		padding: 5px 10px 7px 10px;
		border-radius: 100%;
		img {
			width: 12px;
		}
		&:hover {
			cursor: pointer;
			background: grey;
		}
	}
	.header_form {
		background: #000;
		text-align: center;
		padding: 25px 15px;

		img {
			margin: auto;
			margin-bottom: 15px;
		}
		p {
			color: #fff;
			font-family: Avo;
		}
		span {
			color: #fff;
			font-family: Avo;
		}
		&:hover {
			cursor: pointer;
		}
	}
	.header_form.active {
		display: flex;
		flex-flow: row wrap;
		img {
			margin-left: 0;
			float: left;
		}
		>div {
			width: calc(100% - 65px);
			text-align: left;
			p {
				width: 100%;
				text-align: left;
				&:nth-child(2) {
					display: none;
				}
			}
			span {
				width: 100%;
				text-align: left;
			}
		}

	}
	.item_form {
		position: absolute;
		width: 100%;
		padding: 10px 15px;
		bottom: 0;
		left: 0;
		background: #fff;
		span {
			input {
				width: 82%;
				margin-left: 8px;
				border: none;
				&::placeholder {
					font-family: Avo;
					font-size: 18px;
				}
				&:focus {
					outline: 0;
				}
			}
		}
	}
}

.form_message.active {
	display: block;
}
.form_message .header_form.active {
	padding: 25px 15px 0 15px;
}